<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Preencha suas Informações</ng-template>
        <mat-card class="payment-card">
            <mat-card-header>
                <mat-card-title>Usuário</mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
                <form [formGroup]="firstFormGroup" id="firstFormGroup" class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Nome Completo</mat-label>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <input matInput formControlName="profNameCtrl" type="text" aria-label="Nome Completo" placeholder="Nome Completo" name="profile-name">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <mat-icon matSuffix>email</mat-icon>
                        <input matInput formControlName="profEmailCtrl" type="text" aria-label="E-mail" placeholder="E-mail" name="profile-email">
                    </mat-form-field>

                    <table class="full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>CPF</mat-label>
                                    <mat-icon matSuffix>picture_in_picture</mat-icon>
                                    <input matInput formControlName="profCpfCtrl" type="text" aria-label="CPF" placeholder="CPF" name="profile-cpf">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="outline">
                                        <mat-label>Telefone</mat-label>
                                    <mat-icon matSuffix>phone</mat-icon>
                                    <input matInput formControlName="profTelCtrl" type="text" aria-label="Telefone" placeholder="Telefone" name="profile-tel">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <mat-checkbox>Quero receber e-mails com promoções.</mat-checkbox>
                </form>
            </mat-card-content>
            <mat-card-actions>
                    <button mat-button matStepperNext>Próximo</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Preencha seu Endereço</ng-template>
        <mat-card class="payment-card">
            <mat-card-header>
                <mat-card-title>Usuário</mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
                <form [formGroup]="secondFormGroup" id="secondFormGroup" class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Nome Completo</mat-label>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <input matInput formControlName="profNameCtrl" type="text" aria-label="Nome Completo" placeholder="Nome Completo" name="profile-name">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <mat-icon matSuffix>email</mat-icon>
                        <input matInput formControlName="profEmailCtrl" type="text" aria-label="E-mail" placeholder="E-mail" name="profile-email">
                    </mat-form-field>

                    <table class="full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>CPF</mat-label>
                                    <mat-icon matSuffix>picture_in_picture</mat-icon>
                                    <input matInput formControlName="profCpfCtrl" type="text" aria-label="CPF" placeholder="CPF" name="profile-cpf">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="outline">
                                        <mat-label>Telefone</mat-label>
                                    <mat-icon matSuffix>phone</mat-icon>
                                    <input matInput formControlName="profTelCtrl" type="text" aria-label="Telefone" placeholder="Telefone" name="profile-tel">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <mat-checkbox>Quero receber e-mails com promoções.</mat-checkbox>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button matStepperNext>Próximo</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Pagamento</ng-template>
        <mat-card class="payment-card">
            <mat-card-header>
                <mat-card-title>Usuário</mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
                <form [formGroup]="thirdFormGroup" id="thirdFormGroup" class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Nome Completo</mat-label>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <input matInput formControlName="profNameCtrl" type="text" aria-label="Nome Completo" placeholder="Nome Completo" name="profile-name">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <mat-icon matSuffix>email</mat-icon>
                        <input matInput formControlName="profEmailCtrl" type="text" aria-label="E-mail" placeholder="E-mail" name="profile-email">
                    </mat-form-field>

                    <table class="full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>CPF</mat-label>
                                    <mat-icon matSuffix>picture_in_picture</mat-icon>
                                    <input matInput formControlName="profCpfCtrl" type="text" aria-label="CPF" placeholder="CPF" name="profile-cpf">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="outline">
                                        <mat-label>Telefone</mat-label>
                                    <mat-icon matSuffix>phone</mat-icon>
                                    <input matInput formControlName="profTelCtrl" type="text" aria-label="Telefone" placeholder="Telefone" name="profile-tel">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <mat-checkbox>Quero receber e-mails com promoções.</mat-checkbox>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button (click)="stepper.reset()">Reiniciar</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>
</mat-horizontal-stepper>