#firstFormGroup .input-col-6 { width: 50%; }
#firstFormGroup .mat-form-field { width: 100%; }

.full-width { width: 100%; }
.full-width td { padding-right:20px; }
.full-width td:first-child { padding-left: 0; }
.full-width td:last-child { padding-right: 0; }