#firstFormGroup .input-col-6 { width: 50%; }
#firstFormGroup .mat-form-field { width: 100%; }

.full-width { width: 100%; }
.full-width td { padding-right:20px; }
.full-width td:first-child { padding-left: 0; }
.full-width td:last-child { padding-right: 0; }

.pay-step-title { font-size: 1.2em; color: #615e5e; margin-top: 20px; }

.pay-step-content { margin-bottom: 20px;}
.pay-resume span { margin:auto 0; }
.pay-resume-total {margin-top: 10px;}
.pay-resume-description {
    text-align: left;
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}

.mat-checkbox { margin-left: 21px; }
.mat-form-field { padding: 0px 20px; }
.pay-step-buttons{ margin-left: 20px; }
.pay-step-buttons .btn { margin-right: 10px; }
