<div id="homeComponent">

    <header class="fixed">
        <div class="header-content">
            <div class="container">
                <div class="logo-container">
                    <a href="/" class="logo"></a>
                </div>

                <div class="header-search-box">
                    <div class="search-box">
                        <form action="/busca" id="searchForm">
                            <mat-icon matSuffix class="search-icon">search</mat-icon>
                            <input type="text"  aria-label="Campo de busca" placeholder="Buscar Ofertas" name="search">
                        </form> 
                    </div>
                    <button mat-raised-button type="submit" class="search-submit btn primary">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            
                <div class="header-right">
                    <div class="header-right-container">
                        <div id="user-container">
                            <button mat-button [matMenuTriggerFor]="menuUser">Entrar</button>
                            <mat-menu #menuUser="matMenu">
                                <button mat-menu-item>Cadastre-se</button>
                                <mat-divider></mat-divider>
                                <button mat-menu-item>Entrar</button>
                            </mat-menu>
                        </div>

                        <div id="cart-container">
                            <button mat-button [matMenuTriggerFor]="menuCart"><mat-icon>shopping_cart</mat-icon></button>
                            <mat-menu #menuCart="matMenu">
                                <p>Carrinho</p>
                                <mat-divider></mat-divider>
                                <div class="empty-cart">
                                    <p class="cart-title">Seu carrinho está vazio</p>
                                    <span class="cart-description">Escolha uma oferta agora mesmo e aproveite!</span>
                                </div>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
  
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-lg-3" *ngFor="let item of itens">
                
                <mat-card class="card-product">
                    <div class="list-item-img">
                        <img mat-card-image [src]="item.image.url" [alt]="item.title" class="thumbnail zoom">
                    </div>

                    <mat-card-header>
                        <mat-card-title class="list-item-title-txt">{{item.title}}</mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content>
                        <p class="list-item-content-txt">{{item.price | currency:'BRL':'symbol':'1.2-3'}}</p>
                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button routerLink="/product">COMPRAR</button>
                    </mat-card-actions>

                </mat-card>

            </div>
        </div>
    </div>   

</div>