<div id="homeComponent">
    <div class="container-fluid p-md-0">
        <div class="row">
            <!-- Para um dataSource futuro -->
            <!-- table mat-table [dataSource]="dataSource" matSort -->

            <div class="col-xs-6 col-lg-3" *ngFor="let item of itens | slice: pagination.currentPage * pagination.recordsPerPage : (pagination.currentPage + 1) * pagination.recordsPerPage">
                
                <mat-card class="card-product">
                    <div class="list-item-img">
                        <img mat-card-image [src]="item.image.url" [alt]="item.title" class="thumbnail zoom">
                    </div>

                    <mat-card-header>
                        <mat-card-title class="list-item-title-txt">{{item.title}}</mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content>
                        <p class="list-item-content-txt">{{item.price | currency:'BRL':'symbol':'1.2-3'}}</p>
                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button routerLink="/product" [queryParams]="{id: item.id}" class="btn primary">COMPRAR</button>
                    </mat-card-actions>

                </mat-card>

            </div>
        </div>
        

        <app-pagination [(pagination)]="pagination" class="row"></app-pagination>
    </div>   
</div>